body {
    margin: 15px;
}

.post {
    height: 250px;
    width: 400px;
}

.flex {
    justify-content: center;
    display: flex;
}

.cards {
    float: left;
    padding: 5px;
    height: 350px;
    width: 280px;
    margin: 8px;
    margin-bottom: 70px;
    margin-top: -1px;
}

.image {
    text-align: center;
    margin-bottom: 30px;
}

.cards-img {
    height: 150px;
}

.price {
    color: orangered;
}

h3 {
    text-align: center;
}

.category {
    display: flex;
    margin-bottom: 40px;
    margin-left: 20%;
}

.category>div>img {
    width: 150px;
    padding: 5px;

}

.category>div {
    box-shadow: 1px 1px 10px gray;
    border: 1px solid lightgray;
    text-align: center;
    margin: 30px;
    border-radius: 10px;
}