.post {
    margin-left: 40%;
    height: 250px;
    width: 400px;
}

.flex {
    justify-content: center;
    display: flex;
}

/* .img {
    background-image: url('./online-shopping-on-phone-buy-sell-business-digital-web-banner-application-money-advertising-payment-ecommerce-illustration-search-free-vector.jpg');
    height: 150px;
    width: 150px;
    background-size: cover;
} */

.cards {
    float: left;
    padding: 5px;
    /* height: 490px; */
    width: 280px;
    margin: 8px;
    margin-bottom: 70px;
    margin-top: -1px;
}

.heading {
    border: 1px solid black;
    padding: 10px;
    line-height: 0.5;
}

.content {
    line-height: 0.5;
    border: 1px solid black;
    padding: 10px;
}

.content>p {
    color: orangered;
}

.home{
margin-left: 10%;    
}