.form {
    display: flex;
}

.right-s {
    margin-left: 55%;
    margin-top: 7%;
}

.signup-heading {
    margin-left: -45px;
    font-weight: 400;
    color: lightgrey;
}

.input-s {
    width: 91%;
    height: 11%;
    border: 0.5px solid;
    border-color: rgb(240, 237, 237);
    border-radius: 10px;
    color: gray;
    margin: 10px;
    padding-top: 5px;
    padding-left: 22px;
    font-size: large;
}

.input-s::placeholder {
    color: rgb(174, 174, 174);
    font-weight: 100;
    font-size: 20px;
}

span {
    padding-left: 180px;
}

.button-s {
    margin-top: 15px;
    margin-left: 15px;
    width: 450px;
    height: 48px;
    border-radius: 10px;
    background-color: rgb(94,188,233);
    border: none;
    color: white;
    font-weight: 600;
}

.button-s:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: .6s ease;
    font-weight:600 ;
}

.text {
    color: rgb(151, 151, 151);
    margin-left: 20px;
}

.a {
    color: #6675df;
    text-decoration: none;
}

.a:hover {
    color: rgb(43, 43, 43);
}











.namediv>input {
    width: 250px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.emailsdiv>input {
    width: 250px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.passDiv>input {
    width: 250px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.contactDiv>input {
    width: 250px;
    border-top: none;
    border-left: none;
    border-right: none;
}