
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0563bb;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.navbar{
  background-color: #364d79;
  color: #fff;
  margin-top: -16px;
}
.navbar>ul {
  display: flex;
}
.navbar>ul>h1{
  font-size: 32px;
}
.navbar>ul>div{
  display: flex;
  margin-top: 1%;
  margin-left: 12%;
}
.navbar>ul>input{
  border: none;
  /* background-color: lightgray; */
  padding-left: 1%;
  font-weight: 400;
  /* color: gray; */
  margin-top: 2.2%;
  margin-left: 12%;
  height: 30px;
  width: 30%;
  border-radius: 20px;
}
.navbar>ul>div>li{
  margin: 20px;
  list-style-type: none;
}
.navbar>ul>div>li>a{
  color: #fff;
font-size: 22px;
font-weight: 600;
  text-decoration: none;
}